<html>
<head>
    <title>Content Page</title>
    <link rel="stylesheet" href="/content-page.css">
</head>
<body>
    <div class="cabecalho">
        <header>
            <div class="logo">
                <a href="https://rocketseat.com.br/">
                    <img src="/img/dark-logo.png" alt="logo">
                </a> 
            </div>
            <div class="text-cabecalho">
                <a href="/">Home</a>
            </div>
        </header>
    </div>

    <div class="content"> <!-- Conteúdos !-->
        <main>
            <div class="courses"> <!-- Cards !-->
                <a>
                    
                </a>
            </div>
        </main>
    </div>
    


</body>
</html>