<html>
<head>
    <title>Conteúdos</title>

    <link rel="icon" href="/desafios/favicon.ico"/>
    <link rel="stylesheet" href="/blog.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
    <header>
        <div class="logo">
            <a href="https://rocketseat.com.br/">
            <img src="/img/boost.png" alt="logo">
            </a> 
        </div>
        <div class="icon">
            <a href="/">
                <img src="img/arrow-left.svg" alt="arrow"></a>
        </div>
    </header>

    <section>
        <div class="cards" >
            <div class="card" id="mapas-com-react-usando-leaflet">
                <div class="card-image">
                    <img src="https://www.instamobile.io/wp-content/uploads/2019/03/react-native-maps.png" alt="Mapa com React Native">
                </div>
                <div class="card-content">
                    <p>Mapas com React usando Leaflet</p>
                    <b>por <strong>Eduardo Kobus</strong> - há 2 Meses</b>
                </div>
                <div class="card-info">
                    <p>React Native</p>
                </div>
            </div>

            <div class="card" id="react-hook-swr-melhor-ux-no-consumo-de-api-no-front-end-react">
                <div class="card-image">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/09/react-hook-swr-melhor-ux-no-consumo-de-api-no-front-end-react-capa.png">
                </div>
                <div class="card-content">
                    <p>React Hook SWR - Melhor UX no consumo de API no Front End React</p>
                    <b>por <strong>Eduardo Kobus</strong> - há 10 Dias</b>
                </div>
                <div class="card-info1">
                    <p>React Hook</p>
                </div>
            </div>

            <div class="card" id="dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida">
                <div class="card-image">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/10/dark-mode-com-css-mudando-a-aparencia-do-blog-de-maneira-simples-e-rapida.jpg">
                </div>
                <div class="card-content">
                    <p>Dark Mode com CSS — mudando a aparência do Blog de maneira simples e rápida</p>
                    <b>por <strong>Eduardo Kobus</strong> - há 3 Dias</b>
                </div>
                <div class="card-info2">
                    <p>CSS</p>
                </div>
            </div>
            
            <div class="card" id="es10-novas-features-do-javascript">
                <div class="card-image">
                    <img src="https://blog.rocketseat.com.br/content/images/2020/09/es10-novas-features-do-javascript.png">
                </div>
                <div class="card-content">
                    <p>ES10 - Novas features do JavaScript</p>
                    <b>por <strong>Eduardo Kobus</strong> - há 3 Dias</b>
                </div>
                <div class="card-info3">
                    <p>ES10</p>
                </div>
            </div>
        </div>
    </section>

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <a class="maximize-modal">
                <i class="material-icons">open_in_full</i>
            </a>
    
            <div class="modal-content">
                <iframe src="" frameborder="0"></iframe>
            </div>
        </div>
    </div>

<script src="script.js"></script>

</body>
</html>
