<html>
<head>
    <title>{{item.title}}</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/courses-style.css">
    <link rel="stylesheet" href="/video-style.css">
</head>

<body>
    <div class="cabecalho">
        <nav>
            <div class="logo">
                <a href="https://rocketseat.com.br/">
                    <img src="/img/dark-logo.png" alt="logo">
                </a> 
            </div>
            <div class="text-cabecalho">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <section>

        {% for item in items%}
        <div class="description" id="{{ item.id }}">
            <h1>{{item.info}}</h1>
        </div>
    
        <div class="card">
            <div class="card_video_container">
                <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
            </div>

            <div class="card_info">
                <p class="card_price">{{item.price}}</p>
                <p class="card_duration">{{item.time}}</p>
            </div>
        </div>
        {% endfor %}

    </section>

</body>
</html>