<html>
<head>
    <title>Content Page</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/content-page.css">
    <link rel="stylesheet" href="/video-style.css">
</head>

<body>
    <div class="cabecalho">
        <nav>
            <div class="logo">
                <a href="https://rocketseat.com.br/">
                    <img src="/img/dark-logo.png" alt="logo">
                </a> 
            </div>
            <div class="text-cabecalho">
                <a href="/">Home</a>
            </div>
        </nav>
    </div>

    <section>
        <div class="description">
            <h1>Universo Java</h1>
        </div>
    
        <div class="card">
            <div class="card_video_container">
                <iframe src="https://www.youtube.com/embed/BVWdPuNjuiY" frameborder="0"></iframe>
            </div>

            <div class="card_info">
                <p class="card_price">Free</p>
                <p class="card_duration">50:30 min</p>
            </div>
        </div>
    </section>

</body>
</html>